body{
    background-color: #00B3AD;
}
header{text-align: center;
       background-image:url(./vino\(2\).jpg);
       background-size: 100% 100vh;
       background-attachment: fixed;
      font-size: 30px;
      color: #642400;
      text-align: center;
      }
table{text-align: center;}
td{text-align: center;
   margin: 30px;
   padding: 30px;
   size: 100% 100vh;
   }
a{
    color: #006663;
    background-color: #642400;
}
@font-face {
       font-family: "fuente1" ;
       src: url(./RobotoCondensed-Regular.ttf);
}
p{
  font-family:"fuente1";
}
